<form [formGroup]="profileForm" #ngForm="ngForm" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Profile Information <span *ngIf="ngForm.submitted && !profileForm.valid" class="small-font"
            [ngClass]="{'invalid': ngForm.submitted }">* required</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="firstName" [(ngModel)]="appointment.patientId" matInput placeholder="Patiant ID">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="lastName" [(ngModel)]="appointment.doctorId" matInput placeholder="Doctor ID">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width">
              <textarea formControlName="address" [(ngModel)]="appointment.time" matInput placeholder="Time"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-6 top-padding">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Select The Date</mat-label>
              <input formControlName="dob" matInput [matDatepicker]="picker" [(ngModel)]="appointment.date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="saveForm()" mat-raised-button color="primary">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>

