<form [formGroup]="profileForm" #ngForm="ngForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Add Patient <span *ngIf="ngForm.submitted && !profileForm.valid" class="small-font"
          [ngClass]="{'invalid': ngForm.submitted }">* required</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
          <mat-form-field class="full-width">
            <input formControlName="name" [(ngModel)]="patient.name" matInput placeholder="name">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="full-width">
            <input formControlName="email" [(ngModel)]="patient.email" matInput placeholder="email">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="full-width">
            <input formControlName="password" [(ngModel)]="patient.password" matInput placeholder="password">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="full-width">
            <input formControlName="medicalHistory" [(ngModel)]="patient.medicalHistory" matInput
              placeholder="medicalHistory">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="full-width">
            <input formControlName="image" [(ngModel)]="patient.image" matInput placeholder="image">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- <mat-form-field class="full-width">
            <input formControlName="prescriptions" [(ngModel)]="patient.prescriptions" matInput
              placeholder="prescriptions">
          </mat-form-field> -->
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- <mat-form-field class="full-width">
            <input formControlName="appointmentIds" [(ngModel)]="patient.appointmentIds" matInput placeholder="appointmentIds">
          </mat-form-field> -->
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- <mat-form-field class="full-width">
            <input formControlName="address" [(ngModel)]="patient.address" matInput placeholder="address">
          </mat-form-field> -->
        </mat-grid-tile>
        <mat-grid-tile>
          <!-- <mat-form-field class="full-width">
            <input formControlName="paymentDetails" [(ngModel)]="patient.paymentDetails" matInput placeholder="paymentDetails">
          </mat-form-field> -->
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>